<div>
  <div class="element-section element-title">
    <%= grade.exam.subject.name %> Exam on <%= time_tag grade.exam.date %>
  </div>

  <div class="element-section">
    <%= grade.student.name %>
  </div>

  <div class="well alert <%= grade.pass? ? 'alert-success' : 'alert-danger' %>">
    <%= grade.score %> / <%= grade.exam.score %>
    <%= '(Failed)' if grade.fail? %>
  </div>
</div>
