<% provide :panel_title, 'New Announcement' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Announcements list', student_announcements_path(@student) %></li>

  <li class="divider"></li>
  <li><%= link_to 'Student', @student %></li>
  <li><%= link_to 'School', @student.school %></li>
<% end  %>

<%= render layout: 'wide_panel' do %>
  <%= render 'announcements/new_form', announceable: @student, announcement: @announcement %>
<% end %>
