<% provide :panel_title, 'New Announcement' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Announcements list', student_announcements_path(@student) %></li>

  <li class="divider"></li>
  <li><%= link_to 'Student', @student %></li>
  <li><%= link_to 'School', @student.school %></li>
<% end  %>

<%= render layout: 'wider_panel' do %>
  <div class="row">
    <div class="col-sm-4">
      <div class="well well-sm well-title">Forms</div>
      <ul class="nav nav-pills nav-stacked">
	<li class="active"><%= link_to 'Basic', "#form-tab-basic", 'data-toggle' => 'pill' %></li>
	<li><%= link_to 'Fee', "#form-tab-fee", 'data-toggle' => 'pill' %></li>
      </ul>
    </div>

    <div class="col-sm-8">
      <div class="tab-content">
	<div id="form-tab-basic" class="tab-pane fade in active">
	  <%= render 'announcements/new_form', announceable: @student, announcement: @announcement %>
	</div>

	<div id="form-tab-fee" class="tab-pane fade">
	  <%= render 'announcements/new_fee_form', announceable: @student, announcement: @announcement %>
	</div>
      </div>
    </div>
  </div>
<% end %>
