<% provide :panel_title, 'New Message' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Messages list', '#' %></li>
<% end  %>

<%= render layout: 'wider_panel' do %>
  <div class="row">
    <div class="col-sm-4">
      <div class="well well-sm well-title">Messages</div>
      <ul class="nav nav-pills nav-stacked">
	<li class="active"><%= link_to 'Complaint', "#form-tab-complaint", 'data-toggle' => 'pill' %></li>
	<li><%= link_to 'Suggestion', "#form-tab-suggestion ", 'data-toggle' => 'pill' %></li>
	<li><%= link_to 'Absence Justification', "#form-tab-absence-justification  ", 'data-toggle' => 'pill' %></li>
      </ul>
    </div>

    <div class="col-sm-8">
      <div class="tab-content">
	<div id="form-tab-complaint" class="tab-pane fade in active">
	  <div class="well well-sm well-title">Complaint</div>
	  <%= render 'parent/messages/new_form', following: @following, message: @message, message_type: 'complaint'%>
	</div>

	<div id="form-tab-suggestion" class="tab-pane fade">
	  <div class="well well-sm well-title">Suggestion</div>
	  <%= render 'parent/messages/new_form', following: @following, message: @message, message_type: 'suggestion'%>
	</div>

	<div id="form-tab-absence-justification" class="tab-pane fade">
	  <div class="well well-sm well-title">Absence Justification</div>
	  <%= render 'parent/messages/new_form', following: @following, message: @message, message_type: 'absence_justification'%>
	</div>
      </div>
    </div>
  </div>
<% end %>
