<div class="jumbotron">
  <ul>
    <li><%= link_to 'Add school', new_school_path %></li>
    <li><%= link_to 'Follow a student', new_following_path %></li>
    <li><%= link_to 'Admin', admin_path %></li>
    <li><%= link_to 'Teacher', teacher_path %></li>
    <li><%= link_to 'Parent', parent_panel_path %></li>
  </ul>
</div>
