<div class="element-title">
  <%= announcement.title %>
</div>

<div class="element-section">
  Announcement for
  <% if announcement.for_school? %>
    <%= announcement.announceable.name %>
  <% elsif announcement.for_school_class? %>
    <%= announcement.announceable.school.name %> > <%= announcement.announceable.name %>
  <% elsif announcement.for_classroom? %>
    <%= announcement.announceable.school.name %> > <%= announcement.announceable.school_class.name %> > <%= announcement.announceable.name %>
  <% elsif announcement.for_student? %>
    <%= announcement.announceable.name %>
  <% end %>
</div>

<div class="internal-element">
  <%= announcement.body.html_safe %>
</div>

<div class="element-section">
  Published on <%= time_tag announcement.created_at %>
</div>
