<div>
  <div class="well well-sm well-title">
    <%= announcement.title %>
  </div>

  <div class="well well-sm close-well">
    Announcement for
    <% if announcement.for_school? %>
      <%= announcement.announceable.name %>
    <% elsif anouncement.for_school_class? %>
      <%= announcement.announceable.school.name %> > <%= announcement.announceable.name %>
    <% elsif anouncement.for_classroom? %>
      <%= announcement.announceable.school.name %> > <%= announcement.announceable.school_class.name %> > <%= announcement.announceable.name %>
    <% end %>
  </div>

  <div class="well close-well">
    <%= announcement.body.html_safe %>
  </div>

  <div class="well well-sm">
    Published on <%= time_tag announcement.created_at %>
  </div>
</div>
