<% provide :panel_title, 'Edit classroom' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Show', @classroom %></li>
  <li><%= link_to 'Classrooms', school_class_classrooms_path(@school_class) %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <%= simple_form_for(@classroom) do |f| %>
    <%= render 'form_fields', f: f %>
  <% end %>
<% end %>
