<p id="notice"><%= notice %></p>

<p>
  <strong>School class:</strong>
  <%= @classroom.school_class.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @classroom.name %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', school_class_classrooms_path(@school_class) %>
