<% provide :panel_title, "Classroom: #{@classroom.name}" %>

<% content_for :actions_list do %>
  <li><%= link_to "Today's Agenda", today_classroom_agendas_path(@classroom) %></li>
  <li><%= link_to 'Current Timetable', current_classroom_timetables_path(@classroom) %></li>

  <li class="divider"></li>
  <li><%= link_to 'Class', @school_class %></li>
  <li><%= link_to 'School', @school_class.school %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <%= render layout: 'accordion' do %>

    <%= render layout: 'accordion_section', locals: { title: 'Classroom', id: 'classroom_actions', show: true } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to 'Edit', edit_classroom_path(@classroom) %></li>
	<li><%= link_to 'Classrooms list', school_class_classrooms_path(@school_class) %></li>
      </ul>
    <% end %>

    <%= render layout: 'accordion_section', locals: { title: 'Agendas', id: 'agendas_actions', show: false } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to "Today's agenda", today_classroom_agendas_path(@classroom) %></li>
	<li><%= link_to 'Agendas calendar', classroom_agendas_path(@classroom) %></li>
      </ul>
    <% end %>

    <%= render layout: 'accordion_section', locals: { title: 'Exams', id: 'exams_actions', show: false } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to "New exam", new_classroom_exam_url(@classroom) %></li>
	<li><%= link_to 'Exams list', classroom_exams_url(@classroom) %></li>
      </ul>
    <% end %>

    <%= render layout: 'accordion_section', locals: { title: 'Announcements', id: 'announcements_actions', show: false } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to "New Announcement", new_classroom_announcement_url(@classroom) %></li>
	<li><%= link_to 'Announcements list', classroom_announcements_url(@classroom) %></li>
      </ul>
    <% end %>

    <%= render layout: 'accordion_section', locals: { title: 'Students', id: 'students_actions', show: false } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to 'Students list', classroom_students_path(@classroom) %></li>
	<li><%= link_to 'Add student', new_classroom_student_path(@classroom) %></li>
      </ul>
    <% end %>

    <%= render layout: 'accordion_section', locals: { title: 'Teachers', id: 'teachers_actions', show: false } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to 'Teachers list', classroom_teachings_path(@classroom) %></li>
	<li><%= link_to 'Add teacher', new_classroom_teaching_path(@classroom) %></li>
      </ul>
    <% end %>

    <%= render layout: 'accordion_section', locals: { title: 'Timetables', id: 'timetables_actions', show: false } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to 'Current timetable', current_classroom_timetables_path(@classroom) %></li>
	<li><%= link_to 'Timetables list', classroom_timetables_path(@classroom) %></li>
	<li><%= link_to 'Create timetable', initialize_new_classroom_timetable_path(@classroom) %></li>
      </ul>
    <% end %>

    <%= render layout: 'accordion_section', locals: { title: 'Following Codes', id: 'following_codes_actions', show: false } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to 'Following codes', classroom_following_codes_path(@classroom) %></li>
	<li><%= link_to 'Generate following codes', classroom_following_codes_path(@classroom), method: :post %></li>
      </ul>
    <% end%>
  <% end %>
<% end %>
