<%= simple_form_for([@school, @school_administration]) do |f| %>
  <%= render 'shared/error_messages', resource: @school_administration %>

  <div class="form-inputs">
    <%= simple_fields_for :administrator do |admin_fields| %>
      <%= admin_fields.input :email, autofocus: true %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Submit' %>
  </div>
<% end %>
