<% provide :panel_title, 'School Admins' %>

<% content_for :actions_list do  %>
  <li><%= link_to 'Add new admin', new_school_school_administration_path(@school) %></li>

  <li class="divider"></li>
  <li><%= link_to 'School', @school %></li>
<% end %>

<%= render layout: 'wide_panel' do %>
<table class="table">
  <thead>
    <tr>
      <th>Admin</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @school_administrations.each do |school_administration| %>
    <% admin = school_administration.administrator -%>
      <tr>
        <td><%= link_to admin.name, school_administration %></td>
	<td><%= admin.email %></td>
        <td><%= link_to 'Destroy', school_administration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
