<p id="notice"><%= notice %></p>

<h1>Listing School Administrations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_administrations.each do |school_administration| %>
      <tr>
        <td><%= school_administration.user %></td>
        <td><%= school_administration.school %></td>
        <td><%= link_to 'Show', school_administration %></td>
        <td><%= link_to 'Edit', edit_school_administration_path(school_administration) %></td>
        <td><%= link_to 'Destroy', school_administration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School administration', new_school_administration_path %>
