<% provide :panel_title, 'School Admin' %>

<% content_for :actions_list do %>
  <li><%= link_to 'School Admins', school_school_administrations_path(@school) %></li>
  <li><%= link_to 'Add New Admin', new_school_school_administration_path(@school) %></li>

  <li class="divider"></li>
  <li><%= link_to 'School', @school %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <div class="well well-sm close-well">
    <%= @school_administration.administrator.name %>
  </div>

  <div class="well well-sm close-well">
    <%= @school_administration.administrator.email %>
  </div>

  <div class="well well-sm close-well">
    Admin at <%= link_to @school_administration.administrated_school.name, @school %>
  </div>

  <div class="well well-sm close-well">
    Added since <%= time_ago_in_words @school_administration.created_at %>
  </div>

<% end %>
