<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @school_administration.administrator.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school_administration.administrator.email %>
</p>

<p>
  <strong>School:</strong>
  <%= @school_administration.administrated_school.name %>
</p>

<%= link_to 'Back', school_school_administrations_path(@school) %>
