<% provide :panel_title, 'Edit Students Behaviors' %>

<% content_for :actions_list do  %>
  <li><%= link_to 'Behaviors', lesson_behaviors_path(@lesson) %></li>

  <li class="divider"></li>
  <li><%= link_to 'Agenda', date_classroom_agendas_path(classroom_id: @classroom, date: @lesson.day.date.to_param) %></li>
  <li><%= link_to 'Edit Agenda', edit_classroom_agendas_path(classroom_id: @classroom, date: @lesson.day.date.to_param) %></li>

  <li class="divider"></li>
  <li><%= link_to 'Classroom', @classroom %></li>
  <li><%= link_to 'Class', @classroom.school_class %></li>
  <li><%= link_to 'School', @classroom.school %></li>
<% end %>

<%= render layout: 'wide_panel' do %>
  <%= render 'shared/lesson_header', lesson: @lesson %>

  <div class="row">
    <div id="students-list" class="col-sm-4">
      <div class="well well-sm well-title">Students</div>
      <ul class="nav nav-pills nav-stacked">
	<% @students.each do |student| %>
	  <li><%= link_to student.name, "#behavior-tab-#{student.id}", 'data-toggle' => 'pill'  %></li>
	<% end %>
      </ul>
    </div>

    <div id="forms-list" class="col-sm-8">
      <div class="tab-content">
	<% @students.each do |student| %>
	  <% behavior = student.behavior_in_lesson(@lesson) || Behavior.make(student: student, behaviorable: @lesson) %>
	  <div id="behavior-tab-<%= student.id %>" class="tab-pane fade">
	    <div class="well well-sm well-title"><%= student.full_name %></div>
	    <div id="student-<%= student.id  %>-behavior-form" class="well">
	      <%= render 'behaviors/content_form', behavior: behavior %>
	    </div>
	    <div id="student-<%= student.id  %>-behavior" class="well">
	      <%= render 'behaviors/content', behavior: behavior %>
	    </div>
	  </div>
	<% end  %>
      </div>
    </div>
  </div>
<% end %>
