<% provide :panel_title, 'Edit Announcement' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Edit', edit_announcement_path(@announcement) %>
  <li><%= link_to 'Announcements list', school_announcements_path(@school) %></li>

  <li class="divider"></li>
  <li><%= link_to 'School', @school %></li>
<% end  %>

<%= render layout: 'wide_panel' do %>
  <%= render 'announcements/edit_form', announcement: @announcement %>
<% end %>
