<% provide :panel_title, "Current timetable for #{@classroom.name}" %>

<% content_for :actions_list do %>
  <li><%= link_to 'Edit', edit_timetable_path(@timetable) %></li>
  <li><%= link_to 'Timetables list', classroom_timetables_path(@classroom) %></li>
  <li><%= link_to 'Classroom', @classroom %></li>
<% end %>

<%= render layout: 'wide_panel' do %>
  <%= render @timetable, periods: @periods %>
<% end %>
