<% provide :panel_title, "Timetable for #{@classroom.name}" %>

<% content_for :actions_list do %>
  <li><%= link_to 'Edit', edit_timetable_path(@timetable) %></li>
  <li><%= link_to 'Current timetable', current_classroom_timetables_path(@classroom) %></li>
  <li><%= link_to 'Timetables', classroom_timetables_path(@classroom) %></li>
  <li><%= link_to 'Classroom', classroom_path(@classroom) %></li>
<% end %>

<%= render layout: 'wide_panel' do %>
  <% if @timetable.current? %>
    <div class="well">Current timetable.</div>
  <% end %>

  <%= render @timetable, periods: @periods %>
<% end %>
