<% provide :form_title, 'Resend unlock instructions' %>

<% content_for :form_footer do %>
  <%= render "devise/shared/links" %>
<% end %>

<%= render layout: 'simple_form' do %>
  <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-fields">
      <%= f.input :email, autofocus: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Resend unlock instructions" %>
    </div>
  <% end %>
<% end %>
