<% provide :panel_title, 'New Announcement' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Announcements list', school_class_announcements_path(@school_class) %></li>

  <li class="divider"></li>
  <li><%= link_to 'School Class', @school_class %></li>
  <li><%= link_to 'School', @school_class.school %></li>
<% end  %>

<%= render layout: 'wide_panel' do %>
  <%= render 'announcements/new_form', announceable: @school_class, announcement: @announcement %>
<% end %>
