<% provide :panel_title, 'Students list'  %>

<% content_for :actions_list do %>
  <li><%= link_to 'New Student', new_classroom_student_path(@classroom) %></li>

  <li class="divider"></li>
  <li><%= link_to 'Classroom', @classroom %></li>
  <li><%= link_to 'Class', @classroom.school_class %></li>
  <li><%= link_to 'School', @school %></li>
<% end %>

<%= render layout: 'wide_panel' do  %>
  <div class="well">
    <%= pluralize @students.count, 'student' %> in <%= @classroom.name %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
	<th>Name</th>
	<th>Father name</th>
	<th>Mother name</th>
	<th>Birthdate</th>
	<th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
	<tr>
          <td><%= link_to student.name, student %></td>
          <td><%= student.father_name %></td>
          <td><%= student.mother_name %></td>
          <td><%= student.birthdate %></td>
          <td><%= link_to 'Edit', edit_student_path(student) %></td>
          <td><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
<% end %>
