<% provide :panel_title, 'Teacher Panel' %>

<% content_for :actions_list do %>

<% end %>

<%= render layout: 'simple_panel' do %>
  <%= render layout: 'accordion' do %>

    <%= render layout: 'accordion_section', locals: { title: 'Agendas', id: 'agendas_actions', show: true } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to "Edit Today's Agenda", edit_teacher_agenda_path(Date.current.to_param) %></li>
	<li><%= link_to "Today's Agenda", teacher_agenda_path(Date.current.to_param) %></li>
	<li><%= link_to "Agendas Calendar", teacher_agendas_path %></li>
      </ul>
    <% end %>

    <div class="panel">
      <div class="panel-body">
	<ul class="nav nav-pills nav-stacked">
	  <li><%= link_to 'Exams', teacher_exams_path %></li>
	  <li><%= link_to 'Announcements', teacher_announcements_path %></li>
	</ul>
      </div>
    </div>

    <div class="panel">
      <div class="panel-body">
	<ul class="nav nav-pills nav-stacked">
	  <li><%= link_to 'Feed', teacher_feed_index_path %></li>
	  <li><%= link_to 'Notifications', teacher_notifications_path %></li>
	</ul>
      </div>
    </div>

  <% end %>
<% end %>
