<% provide :panel_title, 'Students Behavior' %>

<% content_for :actions_list do  %>
    <li><%= link_to 'Edit', edit_day_behaviors_path(@day) %></li>
    <li class="divider"></li>

  <li><%= link_to 'Agenda', date_classroom_agendas_path(classroom_id: @classroom, date: @day.date.to_param) %></li>
  <li><%= link_to 'Edit Agenda', edit_classroom_agendas_path(classroom_id: @classroom, date: @day.date.to_param) %></li>

  <li class="divider"></li>
  <li><%= link_to 'Classroom', @classroom %></li>
  <li><%= link_to 'Class', @classroom.school_class %></li>
  <li><%= link_to 'School', @classroom.school %></li>
<% end %>

<%= render layout: 'wide_panel' do %>
  <div class="well">Classroom <%= @classroom.name %></div>

  <%= render 'shared/day_header', day: @day %>

  <% @behaviors.each do |behavior| %>
    <div class="well">
      <div class="well well-sm well-title">
	<%= behavior.student.full_name %>
	<span class="pull-right"><%= link_to discuss_link behavior %></span>
      </div>
      <%= render 'behaviors/content', behavior: behavior %>
    </div>
  <% end %>
<% end  %>
