<% provide :panel_title, 'Agendas Calendar' %>

<% content_for :actions_list do %>
  <li><%= link_to "Today's Agenda", today_classroom_agendas_path(@classroom) %></li>
  <li><%= link_to 'Current Timetable', current_classroom_timetables_path(@classroom) %></li>

  <li class="divider"></li>
  <li><%= link_to 'Classroom', @classroom %></li>
  <li><%= link_to 'Class', @classroom.school_class %></li>
  <li><%= link_to 'School', @classroom.school %></li>
<% end %>

<%= render layout: 'wider_panel' do %>
  <%= month_calendar do |date| %>
      <% if current_month? date %>
	<%= day_link date %>
      <% end %>
  <% end %>
<% end %>
