<% provide :panel_title, 'Warning' %>

<%= render layout: 'simple_panel' do %>
  <div class="alert alert-warning">
    There is no active timetable. We cannot view any agenda.
  </div>

  <% if owner_or_administrator? @classroom.school %>
    <div class="well alert alert-info">
      Would like to <%= link_to 'create', new_classroom_timetable_path(@classroom) %> a new timetable, or visit <%= link_to 'timetables list', classroom_timetables_path(@classroom) %>?
    </div>
  <% end %>

  Would you visit:
  <ul class="nav nav-pills nav-stacked text-center">
    <li><%= link_to 'Agendas list', classroom_agendas_path(@classroom) %></li>

    <li><%= link_to 'Classroom', @classroom %></li>
    <li><%= link_to 'Class', @classroom.school_class %></li>
    <li><%= link_to 'School', @classroom.school %></li>
  </ul>
<% end %>
