<% provide :panel_title, "Subjects for #{@school_class.name}" %>

<% content_for :actions_list do %>
  <li><%= link_to 'New Subject', new_school_class_subject_path(@school_class) %></li>
  <li><%= link_to 'Class', @school_class %></li>
  <li><%= link_to 'School', @school_class.school %></li>
<% end %>

<%= render layout: 'wide_panel' do %>
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Subject</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= link_to subject.name, subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
