<%= render 'shared/error_messages', resource: @school_class %>

<div class="field">
  <%= f.label :school_id %><br>
  <%= f.text_field :school_id %>
</div>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
