<% provide :panel_title, 'Edit Class' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Class', @school_class %></li>
  <li><%= link_to 'School', @school %></li>
  <li><%= link_to 'Classes list', school_school_classes_path(@school)%></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <%= simple_form_for @school_class do |f| %>
    <%= render 'form_fields', f: f %>
  <% end %>
<% end %>
