<% provide :panel_title, 'New Class' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Classes list', school_school_classes_path %></li>
  <li><%= link_to 'School', @school %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <%= simple_form_for([@school, @school_class]) do |f| %>
    <%= render 'form_fields', f: f %>
  <% end %>
<% end %>
