<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @school_class.name %>
</p>

<%= link_to 'Edit', edit_school_class_path(@school_class) %> |
<%= link_to 'Back', school_school_classes_path(@school) %> |
<%= link_to 'Add classroom', new_school_class_classroom_path(@school_class) %> |
<%= link_to 'Classrooms', school_class_classrooms_path(@school_class) %> |
<%= link_to 'Subjects', school_class_subjects_path(@school_class) %> |
<%= link_to 'Add subject', new_school_class_subject_path(@school_class) %>
