<div class="element-title">
<%= lesson.subject&.name %> lesson
</div>

<div class="element-section">
  <%= qualified_classroom_name lesson.day.classroom %>
</div>

<div class="element-section">
  <%= lesson.order.ordinalize %> period on <%= time_tag lesson.day.date %>
</div>

<div class="internal-element">
  <%= render 'lessons/content', lesson: lesson %>
</div>
