<% provide :panel_title, 'Following codes' %>

<% content_for :panel_footer do %>
  <%= link_to 'Student', @student %>
<% end %>

<%= render layout: 'wide_panel' do %>
  <table class="table">
    <% @following_codes.each do |following_code| %>
      <tr>
	<td><%= link_to following_code.code, following_code %></td>
	<td><%= following_code.expire_at %></td>
	<td><%= link_to 'Delete', following_code, method: :delete, data: { confirm: 'Sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% end %>
