<p id="notice"><%= notice %></p>

<h1>Listing Schools</h1>

<table class='table'>
  <tbody>
    <% @schools.each do |school| %>
    <tr>
      <td><%= link_to school.name, school %></td>
      <td>
        <%= school.active? %>
      </td>
      <td><%= link_to 'Edit', edit_school_path(school) %></td>
      <td>
        <% if school.active? %>
          <%= link_to 'Disactivate',  activation_school_path(school, school: {active: false}), method: :put %>
        <% else %>
          <%= link_to 'Activate', activation_school_path(school, school: {active: true}), method: :put %>
        <% end %>
      </td>
      <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
