<% provide :panel_title, "School: #{@school.name}" %>

<% content_for :actions_list do %>
  <li><%= link_to 'Edit', edit_school_path(@school) %></li>
  <li><%= link_to 'Schools list', schools_path %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <%= render layout: 'accordion' do %>

    <%= render layout: 'accordion_section', locals: { id: 'announcements_actions', title: 'Announcements', show: true } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to 'Announcements list', school_announcements_path(@school) %></li>
	<li><%= link_to 'New Announcement', new_school_announcement_path(@school) %></li>
      </ul>
    <% end %>

    <%= render layout: 'accordion_section', locals: { id: 'messages_actions', title: 'Messages', show: false } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to 'Messages', school_messages_path(@school) %></li>
	<li><%= link_to 'Complaints', category_school_messages_path(@school, 'complaints') %></li>
	<li><%= link_to 'Suggestions', category_school_messages_path(@school, 'suggestions') %></li>
	<li><%= link_to 'Absence Justifications', category_school_messages_path(@school, 'absence_justifications') %></li>
      </ul>
    <% end %>

    <%= render layout: 'accordion_section', locals: { id: 'school_classes_actions', title: 'Classes', show: false } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to 'Classes list', school_school_classes_path(@school) %></li>
	<li><%= link_to 'Add class', new_school_school_class_path(@school) %></li>
      </ul>
    <% end %>

    <%= render layout: 'accordion_section', locals: { id: 'school_admins_actinos', title: 'School Admins', show: false } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to 'School admins', school_school_administrations_path(@school) %></li>
	<li><%= link_to 'Add school admin', new_school_school_administration_path(@school) %></li>
      </ul>
    <% end %>

    <%= render layout: 'accordion_section', locals: { id: 'students_actions', title: 'Students', show: false } do %>
      <ul class="nav nav-pills nav-stacked">
	<li><%= link_to 'Students list', school_students_path(@school) %></li>
	<li><%= link_to 'Add student', new_school_student_path(@school) %></li>
      </ul>
    <% end %>

  <% end %>
<% end %>
