<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>

<%= link_to 'School classes', school_school_classes_path(@school) %>
<%= link_to 'Add school class', new_school_school_class_path(@school) %>

<%= link_to 'School admins', school_school_administrations_path(@school) %>
<%= link_to 'Add school admin', new_school_school_administration_path(@school) %>

<%= link_to 'Students', school_students_path(@school) %>
<%= link_to 'Add student', new_school_student_path(@school) %>
