<% provide :panel_title, 'Feed' %>

<% content_for :actions_list do  %>
  <li><%= link_to 'Parent Panel', parent_panel_path %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <% @feed.each do |notification, f| %>
    <div>
      <div class="time-header">
	<%= timeago_tag notification.updated_at %>
	<span class="pull-right">
	  <%= link_to 'Discuss', f %>
	  <span class="badge">
	    <%= f.comments.count %>
	  </span>
	</span>
      </div>

      <% unless f.comments.empty? %>
      <div class="well well-sm close-well">
	<%= f.comments.last.user.name %> commented on this.
      </div>
      <% end %>

      <div>
	<%= render_object f %>
      </div>
    </div>
  <% end %>
<% end %>
