<% provide :panel_title, 'Edit teacher' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Show', @teaching %></li>
  <li><%= link_to 'Teachers', classroom_teachings_path(@classroom) %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <%= simple_form_for @teaching do |f| %>
    <%= render 'form_fields', f: f %>
  <% end %>
<% end %>
