<% provide :panel_title, 'Exams list' %>

<% content_for :actions_list do  %>
  <% if classroom_teacher? @classroom %>
    <li><%= link_to 'New Exam', new_classroom_exam_path(@classroom) %></li>
    <li class="divider"></li>
  <% end %>


  <li><%= link_to 'Classroom', @classroom %></li>
  <li><%= link_to 'Class', @classroom.school_class %></li>
  <li><%= link_to 'School', @classroom.school %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <% @exams.each do |exam| %>
    <div class="well well-sm close-well">
      <%= link_to exam.subject.name, exam %> <span class="pull-right"><%= time_tag exam.date %></span>
    </div>
  <% end %>
<% end %>
