<div class="panel panel-default" >
  <div class="panel-heading" >
    <h4 class="panel-title" >
      <a class="accordion-section-title" data-toggle="collapse"
       data-parent="#<%= yield(:accordion_id).blank? ? 'accordion' : yield(:accordion_id) %>"
       href="#<%= id %>">
	<%= title %>
      </a>
    </h4>
  </div>
  <div id="<%= id %>" class="panel-collapse collapse <%= show ? 'in' : '' %>" >
    <div class="panel-body" >
      <%= yield %>
    </div>
  </div>
</div>
